
h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background: rgb(99, 5, 240);

}
ul {
  list-style: none;
}

li {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(#caf,  black);
  border: 2px solid green;
  margin-right: 10px;
  border-radius: 50%;
}
